@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-main {
  @apply text-gray-500 dark:text-gray-200;
}

.nav-btn {
  @apply px-2 transition-all duration-300 ease-in-out hover:shadow-xl rounded-lg;
}
.nav-height {
  height: 10vh;
}
.main-height {
  height: 100%;x
  min-height: 90vh;
  padding: 1rem;
  @apply dark:text-gray-100 dark:bg-gray-800;
}
.question-container {
  @apply text-2xl relative w-full max-w-screen-md border-4 p-6 rounded-3xl;
}
.option-container {
  @apply text-2xl w-full flex flex-col items-center;
}
.option-style {
  @apply w-full border-2 rounded-xl p-1 m-1;
}
